.publications {

}

.publications ol {

}

.publications li {

}

.publications li h4 {
  font: 600 14px 'Roboto';
  margin-top: 10px;
  margin-bottom: 0;
}

.publications li p {
  font: 14px 'Roboto';
  margin-top: 0;
  margin-bottom: 0;
}

.publications li span i {
  font-style: italic;
}

.publications li h5 {
  text-align: right;
  margin-top: 5px;
}

.publications li h5 a {
  margin-left: 15px;
  z-index: 1;
}
